{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center">Hi all, This is my complete biodata</h3>

<style>
        table {
            border-collapse: collapse;
        }
        
        th, td, tr {
            padding: 8px;
            text-align: left;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-bottom: 1px solid rgba(0, 0, 0, 0.38);
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
</style>

<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
