{% extends "lab_4/layout/base.html" %}

{% block content %}
    <style>
        h2 {
            transition: 0.1s;
        }

        h2:hover {
            font-size: 250%;
            transition: 0.1s;
        }

        img.profile {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }

        div#link {
            margin: auto;
            padding: 10px;
            height: auto;
            width: auto;
            text-align: center
        }

        #about_me:hover {
            background-color: #8babe7;
        }

        hr {
            border-color: transparent;
        }

        .button {
            border-radius: 4px;
            background-color: #f46069;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 15px;
            padding: 20px;
            width: 100px;
            height: 60px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 20px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
    <div id="link">
        <img class="profile" src="https://drive.google.com/uc?id=0B2m_vFOa5K5iMERXRjBWWE52WkU" alt="my photo"
             height="200px" width="200px"/>
        <h2>Ilham Darmawan</h2>
    </div>
    <hr/>
    <h1>Portofolio</h1>
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{ content }}
        </p>
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
                <li id="about_me" ,
                    style="list-style-image: url('https://cdn3.iconfinder.com/data/icons/iconic-1/32/arrow_right-16.png');padding: 5px;"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="button"><span>Submit</span></button>
        </form>
    </section>

{% endblock %}
