{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 800px;
        height: 100px;
        top: 50%;
        left: 40%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -100px;
        background-color: #FF7E33;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 30px;
        border-radius: 20px;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}