body{
   margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}

.navbar-light{
    transition: 0.3s all;
}
/* Textarea not resizeable */
textarea {
   resize:none

}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #80cdff;
  text-align: center;
}

